---
import Navigation from "./Navigation.astro";
import SocialLinks from "./SocialLinks.astro";

import { SITE_TITLE } from "../consts";
---

<header>
   <nav>
      <h2><a href="/">{SITE_TITLE}</a></h2>

      <Navigation />

      <SocialLinks />
   </nav>
</header>
