<div class="social-links">
   <a href="https://m.webtoo.ls/@astro" target="_blank">
      <span class="sr-only">This is link #1</span>
   </a>
   <a href="https://twitter.com/astrodotbuild" target="_blank">
      <span class="sr-only">This is link #2</span>
   </a>
   <a href="https://github.com/withastro/astro" target="_blank">
      <span class="sr-only">This is link #3</span>
   </a>
</div>
