<div class="social-links">
   <a href="#" target="_blank">
      <span class="sr-only">Social Link #1</span>
   </a>
   <a href="#" target="_blank">
      <span class="sr-only">Social Link #2</span>
   </a>
   <a href="#" target="_blank">
      <span class="sr-only">Social Link #3</span>
   </a>
</div>
